.navbar-logo{
    width: 60px;
    height: auto;
  }
  
  .bg-body-gamerCorp{
    background-color: #131244;
  }
  

  .nav-item .nav-link {
    padding: 10px 15px;
    transition: all 0.3s ease;
    border-radius: 5px;
  }
  

  .nav-item .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  

  .nav-item .nav-link.active {
    background-color: rgba(255, 255, 255, 0.2);
  }

